* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}
.section {
    width: 100%;
    padding: 30px 0;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
h1 {
    font-size: 36px;
    color: #222;
}
.input-group {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}
input {
    width: 60px;
    padding: 5px;
    font-size: 18px;
}
label{
    font-size: 20px;
    font-weight: 500;
}
button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background-color: #0056b3;
}
#maze {
    display: grid;
    margin-top: 20px;
    gap: 2px;
}
/* Сетка для лабиринта */
.cell {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 2px;
}
/* Клетка через которую можно пройти */
.path{
    background-color: white;
}
/* Стартовая клетка */
.start{
    background-color: green;
}
/* Конец */
.end{
    background-color: red;
}
/* Обьект, который проходит по лабиринту */
.player {
    background-color: purple !important;
}